<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ssm.dao.CourseMapper" >
  <resultMap id="BaseResultMap" type="ssm.model.Course" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="course" property="course" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
    <result column="week_day" property="weekDay" jdbcType="INTEGER" />
    <result column="week_string" property="weekString" jdbcType="VARCHAR" />
    <result column="section_length" property="sectionLength" jdbcType="INTEGER" />
    <result column="section_start" property="sectionStart" jdbcType="INTEGER" />
    <result column="section_end" property="sectionEnd" jdbcType="INTEGER" />
    <result column="week" property="week" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, course, location, teacher, week_day, week_string, section_length, section_start, 
    section_end, week
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ssm.model.CourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ssm.model.CourseExample" >
    delete from course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ssm.model.Course" useGeneratedKeys="true" keyProperty="id">
    insert into course (id, course, location, 
      teacher, week_day, week_string, 
      section_length, section_start, section_end, 
      week)
    values (#{id,jdbcType=INTEGER}, #{course,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{teacher,jdbcType=VARCHAR}, #{weekDay,jdbcType=INTEGER}, #{weekString,jdbcType=VARCHAR}, 
      #{sectionLength,jdbcType=INTEGER}, #{sectionStart,jdbcType=INTEGER}, #{sectionEnd,jdbcType=INTEGER}, 
      #{week,jdbcType=VARCHAR})
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="ssm.model.Course" >
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="course != null" >
        course,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="teacher != null" >
        teacher,
      </if>
      <if test="weekDay != null" >
        week_day,
      </if>
      <if test="weekString != null" >
        week_string,
      </if>
      <if test="sectionLength != null" >
        section_length,
      </if>
      <if test="sectionStart != null" >
        section_start,
      </if>
      <if test="sectionEnd != null" >
        section_end,
      </if>
      <if test="week != null" >
        week,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="course != null" >
        #{course,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="weekDay != null" >
        #{weekDay,jdbcType=INTEGER},
      </if>
      <if test="weekString != null" >
        #{weekString,jdbcType=VARCHAR},
      </if>
      <if test="sectionLength != null" >
        #{sectionLength,jdbcType=INTEGER},
      </if>
      <if test="sectionStart != null" >
        #{sectionStart,jdbcType=INTEGER},
      </if>
      <if test="sectionEnd != null" >
        #{sectionEnd,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        #{week,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ssm.model.CourseExample" resultType="java.lang.Integer" >
    select count(*) from course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update course
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.course != null" >
        course = #{record.course,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null" >
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.teacher != null" >
        teacher = #{record.teacher,jdbcType=VARCHAR},
      </if>
      <if test="record.weekDay != null" >
        week_day = #{record.weekDay,jdbcType=INTEGER},
      </if>
      <if test="record.weekString != null" >
        week_string = #{record.weekString,jdbcType=VARCHAR},
      </if>
      <if test="record.sectionLength != null" >
        section_length = #{record.sectionLength,jdbcType=INTEGER},
      </if>
      <if test="record.sectionStart != null" >
        section_start = #{record.sectionStart,jdbcType=INTEGER},
      </if>
      <if test="record.sectionEnd != null" >
        section_end = #{record.sectionEnd,jdbcType=INTEGER},
      </if>
      <if test="record.week != null" >
        week = #{record.week,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update course
    set id = #{record.id,jdbcType=INTEGER},
      course = #{record.course,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      teacher = #{record.teacher,jdbcType=VARCHAR},
      week_day = #{record.weekDay,jdbcType=INTEGER},
      week_string = #{record.weekString,jdbcType=VARCHAR},
      section_length = #{record.sectionLength,jdbcType=INTEGER},
      section_start = #{record.sectionStart,jdbcType=INTEGER},
      section_end = #{record.sectionEnd,jdbcType=INTEGER},
      week = #{record.week,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ssm.model.Course" >
    update course
    <set >
      <if test="course != null" >
        course = #{course,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="weekDay != null" >
        week_day = #{weekDay,jdbcType=INTEGER},
      </if>
      <if test="weekString != null" >
        week_string = #{weekString,jdbcType=VARCHAR},
      </if>
      <if test="sectionLength != null" >
        section_length = #{sectionLength,jdbcType=INTEGER},
      </if>
      <if test="sectionStart != null" >
        section_start = #{sectionStart,jdbcType=INTEGER},
      </if>
      <if test="sectionEnd != null" >
        section_end = #{sectionEnd,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        week = #{week,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ssm.model.Course" >
    update course
    set course = #{course,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      teacher = #{teacher,jdbcType=VARCHAR},
      week_day = #{weekDay,jdbcType=INTEGER},
      week_string = #{weekString,jdbcType=VARCHAR},
      section_length = #{sectionLength,jdbcType=INTEGER},
      section_start = #{sectionStart,jdbcType=INTEGER},
      section_end = #{sectionEnd,jdbcType=INTEGER},
      week = #{week,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>